<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderitem.order %>
</p>

<p>
  <strong>Item:</strong>
  <%= @orderitem.item %>
</p>

<%= link_to 'Edit', edit_orderitem_path(@orderitem) %> |
<%= link_to 'Back', orderitems_path %>
